<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- jQuerryMmenu. Part 1. Lines for jQuerryMmenu working.-->
    <link rel="stylesheet" type="text/css" href="stylesheets/misc.css"/>
    <link rel="stylesheet" type="text/css" href="javascripts/jquery.mmenu.css">
    <link rel="stylesheet" type="text/css" href="javascripts/jquery.mmenu.effects.css">
    <link rel="stylesheet" type="text/css" href="javascripts/jquery.mmenu.positioning.css">
    <style type="text/css">
        #my-menu {
            background-color: #FFFFFF;
            color: #617BA9;
        }

        #right-menu {
            background-color: #FFFFFF;
            color: #617BA9;
        }
    </style>
    <script type="text/javascript" src="javascripts/jquery.js"></script>
    <script type="text/javascript" src="javascripts/jquery.mmenu.js"></script>
    <script type="text/javascript">
        $(function () {
            $('nav#my-menu').mmenu({
                classes: "mm-slide",
                zposition: "front"
            });
        });
        $(function () {
            $('nav#right-menu').mmenu({
                classes: "mm-slide",
                position: "right",
                zposition: "front"
            });
        });
    </script>
</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1426929370852106";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<div id="container">
    <div id="header">
        <div id="header-menu"><a href="#my-menu"><img id="logo" height="35px" width="130px" src="static/logo.png"/></a>
        </div>
        <div id="header-login">
            <div id="fb-image">
                {% if current_user %}
                <a href="{{ current_user.profile_url }}"><img
                        src="http://graph.facebook.com/{{ current_user.id }}/picture?width=30&height=30"/></a>
                {% else %}
                <img src="static/user.png" height="30" width="30">
                {% endif %}
            </div>
            <div id="fbbutton">
                <div id="fb-button">
                    <fb:login-button height="15px" autologoutlink="true" scope="publish_stream"></fb:login-button>
                </div>
            </div>
        </div>

    </div>
    <nav id="my-menu" style="font-size: 140%">
        <ul>
            <li><a href="/mobile">Home</a></li>
            <li><a href="/location">Search Nearby</a></li>
            <li><a href="/wiki">Wikipedia</a></li>
            <li><a href="/comment">Comment</a></li>
            <li><a href="/createevent">Create Event</a></li>
            <li><a href="/shareex">Share Experience</a></li>
        </ul>
    </nav>
    <nav id="right-menu">
        <ul style="font-size: 140%">
            <li><a href="">Friend1</a></li>
            <li><a href="">Friend2</a></li>
            <li><a href="">Friend3</a></li>
        </ul>
    </nav>
    <div id="content">
        {% if user %}
        <div id="wiki-title">Share Experience</div>
        <form method="post" action="/shareex" id="comment-form">
            <div id="experience">
                Name:<input type="text" id="textbox" name="name" placeholder="Alan"> Destination: <input type="text" placeholder="Dresden" id="textbox" name="city"></br>
            </div>
            <textarea id="comment-text" placeholder="Write down your story" name="story"></textarea></br>
            <input type="submit" draggable="false" value="Save" id="button"/></br>
        </form>
        {% endif %}
    </div>
    <div id="footer">
        &copy Travsocio Inc
    </div>
</div>
<script>
    window.fbAsyncInit = function () {
        FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
            xfbml: true});
        FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function (response) {
            {% if current_user %}
                window.location = "/logout"
                {% else %}
                window.location.reload();
                {% endif %}
            });
        };
        (function () {
            var e = document.createElement('script');
            e.type = 'text/javascript';
            e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
            e.async = true;
            document.getElementById('fb-root').appendChild(e);
        }());
</script>
</body>
</html>
