body{
    min-width: 1200px;
	max-width:1200px;
	margin-top:0px;
	margin-bottom:0px;
    margin: auto;
	height:100%;
}

#container {
    min-width: 1024px;
    min-height: 900px;
    max-width: 1024;
    background-color: #FFFFFF;
}

#header{
	height: 40px;
	width: 100%;
    margin: 0px;
	padding: 0px;
	border-width: 0px;
	background-color: #FFFFFF;
	color: #FFFFFF;
}

#header-logo {
    height: 35px;
    width: 700px;
    margin-left: 5px;
    float: left;
    text-align: left;
    font-size: 30px;
    padding-bottom: 2px;
    margin-bottom: 0px;
}

#fb-button{
    height: 22px;
    width: 79px;
    float: right;
    vertical-align: top;
    margin-top: 9px;
}

#fb-image {
    height: 30px;
    width: 150px;
    vertical-align: top;
    margin-top: 4px;
    float: left;
}

#fb-name {
    height: 30px;
    width: 110px;
    vertical-align: top;
    margin-top: 9px;
    font-family: small Arial, sans-serif;
    font-size: 12px;
    color: #617BA9;
    float: right;
}

#header-content {
    height: 35px;
    width: 300px;
    float: right;
    margin-top: 0px;
    margin-right: 5px;
    line-height: 10px;
    text-justify: auto;
    text-align: left;
    vertical-align: top;
    font-family: small Arial, sans-serif;
    font-size: 10px;
    color: #617BA9;

}

#content{
    width: 100%;
    border: groove;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;
    border-color: #49A6D8;
    min-height: 828px;
}

#input-place {
    height: 30px;
    width: 200px;
    vertical-align: top;
    font-size: 15px;
    padding-bottom: 0px ;
    margin-top: 2px;
    line-height: 1em;
    color: #617BA9;
    text-align: right;
    font-family: small Arial, sans-serif;

}

#input-interest {
    height: 30px;
    width: 200px;
    vertical-align: top;
    font-size: 15px;
    padding-bottom: 0px ;
    margin-top: 2px;
    line-height: 1em;
    color: #617BA9;
    text-align: right;
    font-family: small Arial, sans-serif;

}

#main-bar{
    width: 100%;
    height: 385px;
    border: groove;
    border-top-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-color: #49A6D8;
}

#profile-pic{
    height: 250px;
    width: 22%;
    margin-top: 5px;
    margin-left: 10px;
    float: left;
}

#map-canvas
{
    height: 360px;
    width: 40%;
    float: right;
    margin-left: 0px;
    margin-right: 0px;
}

#button-find{
    height: 33px;
    width: 60px;
    font-size: 15px;
    margin-top: 3px;
    vertical-align: top;
    background-color: #617BA9;
    color: #FFFFFF;
    border-radius: 5px;
    border-color: #617BA9;
}

#leftnav{
    width: 200px;
    min-height: 828px;
    float: left;
    border: groove;
    border-right-width: 1px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-color: #617BA9;
}

#rightnav{
    width: 200px;
    min-height: 828px;
    float: right;
    border: groove;
    border-right-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-color: #617BA9;
}

#footer {
	height: 35px;
	width: 100%;
	bottom: 0;
	background-color: #FFFFFF;
	position: relative;
    text-align: right;
}

#friend-bar {
    width: 100%;
    max-height: 400px;
    overflow: scroll;
    overflow-style: scrollbar;
}

#friend-data {
    height: 40px;
    width: 100%;
}

#friend-name {
    height: 30px;
    width: 100px;
    vertical-align: top;
    margin-top: 9px;
    font-family: small Arial, sans-serif;
    font-size: 12px;
    color: #617BA9;
    float: right;
}

#friend-pic {
    height: 30px;
    width: 40px;
    float: left;
}
