html {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    background-color: #FFFFFF;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#header {
    height: 65px;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    margin-top: 0px;
    vertical-align: top;
    padding-top: 0px;
    position: fixed;
    border: groove;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #617BA9;
    font-size: 45px;
    color: #ffffff;
}

#logo {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}

#fbbutton {
    height: 100%;
    width: 85px;
    float: right;
    vertical-align: top;
    text-align: right;
    line-height: 1em;
    padding-top: 21px;
    padding-right: 5px;
}

#fb-image {
    height: 45;
    width: 45;
    float: left;
    padding-top: 10px;
    vertical-align: top;
    margin-left: 30%;
}

#header-menu {
    padding-left: 5px;
    height: 100%;
    width: 35%;
    float: left;
}

#header-login {
    height: 99%;
    width: 60%;
    vertical-align: top;
    margin-top: 0px;
    padding-top: 0px;
    float: right;
    font-size: 25px;
    color: #617BA9;
    text-align: right;
}

#content {
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding-top: 1cm;
    margin-left: 5px;
    margin-right: 5px;
}

#map-canvas
{
    height: 50%;
    width: 100%;
    min-height: 7cm;
    float: right;
    margin-left: 0px;
    margin-right: 0px;
}

#comments {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    border: groove;
    border-width: 1px;
    border-color: #617BA9;
}

#exp-textbox {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-right: -10px;
}

#share-form {
    width: 100%;
    height: 130px;
    text-align: right;
}

#share-button {
    height: 30px;
    width: 100px;
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 35px;
}

#comment {
    width: 97%;
    height: 45px;
    min-height: 45px;
    margin: 5px 5px;
}

#comment-pic {
    height: 40px;
    width: 40px;
    float: left;
    margin: 5px 5px;
    text-align: center;

}

#comment-text {
    height: 60px;
    width: calc(100% - 50px);
    padding: 4px 4px;
    max-width: calc(100% - 60px);
    text-align: right;
    font-size: 13px;
    float: right;
}

#headom {
    margin-left: 5px;
    height: 100%;
    width: 100%;
}

#friend-bar {
    width: 100%;
    height: 100%;
    margin-left: 5px;
    overflow: scroll;
    overflow-style: scrollbar;
    text-align: left;
    font-size: 12px;
    font-family: small Arial, sans-serif;
}

#invite {
    height: 20px;
    width: 55px;
    margin-top: 10px;
    font-size: 12px;
    background-color: #617BA9;
    color: #ffffff;
    border-radius: 10px;
    float: right;
    margin-right: 10px;
}

#footer {
    height: 30px;
    max-height: 30px;
    margin-top: 20px;
    padding-top: 5px;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    bottom: 0;
    position: fixed;
    border: groove;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-bottom-color: #617BA9;
    font-size: 18px;
    text-align: center;
    color: #617BA9;
}