html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    background-color: #FFFFFF;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#header {
    height: 1cm;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
    vertical-align: top;
    padding-top: 3px;
    position: fixed;
    border: groove;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #617BA9;
    font-size: 25px;
    color: #ffffff;
}

#content {
    height: calc(100% - 2cm - 2px);
    width: 100%;
    padding-top: 1cm;
}

#header-menu {
    padding-left: 5px;
    height: 100%;
    width: calc(100% - 185px);
    float: left;
}

#header-login {
    height: 99%;
    width: 180px;
    vertical-align: top;
    margin-top: 0px;
    float: right;
    font-size: 25px;
    color: #617BA9;
}

#footer {
    height: 1cm;
    width: 100%;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1;
    vertical-align: top;
    margin-top: 10px;
    padding-bottom: 3px;
    position: fixed;
    border: groove;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-bottom-color: #617BA9;
    font-size: 15px;
    color: #617BA9;
}

#location-form {
    height: 100%;
    width: 100%;
    padding-top: 1cm;
}

#wiki-title {
    height: 1cm;
    width: 100%;
    margin-top: 3px;
    margin-left: 3px;
    font-size: 30px;
    font-family: "Courier New", courier, monospace;
}

#wiki-content {
    height: 100%;
    width: 100%;
    padding-top: 3px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
    text-align: justify;
    font-family: "Arial", "Helvetica", sans-serif;
    margin-bottom: 7cm;
}