html {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px 0px;
    background-color: #FFFFFF;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

#header {
    height: 45px;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    margin-top: 0px;
    vertical-align: top;
    padding-top: 3px;
    position: fixed;
    border: groove;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 1px;
    border-bottom-color: #617BA9;
    font-size: 25px;
    color: #ffffff;
}

#fbbutton {
    height: 100%;
    width: 85px;
    float: right;
    vertical-align: top;
    text-align: right;
    line-height: 1em;
    padding-top: 8px;
    padding-right: 5px;
}

#fb-image {
    height: 30;
    width: 30;
    margin-top: 5px;
    vertical-align: top;
    float: left;
}

#header-menu {
    padding-left: 5px;
    height: 100%;
    width: calc(100% - 185px);
    float: left;
}

#header-login {
    height: 99%;
    width: 125px;
    vertical-align: top;
    margin-top: 0px;
    padding-top: 0px;
    float: right;
    font-size: 25px;
    color: #617BA9;
    text-align: right;
}

#content {
    height: 100%;
    max-height: 100%;
    width: 100%;
    padding-top: 50px;
    text-align: center;
}

#location-form {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 5px 5px;
}

#wiki-form {
    height: 100%;
    width: 100%;
    padding-top: 1cm;
    margin: 5px 5px;
}

#wiki-title {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    margin-left: 3px;
    font-size: 30px;
    font-family: "Courier New", courier, monospace;
}

#wiki-content {
    height: 100%;
    width: 100%;
    padding-top: 3px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 15px;
    text-align: justify;
    font-family: "Arial", "Helvetica", sans-serif;
    margin-bottom: 7cm;
}

#comment-form {
    height: 40%;
    width: 95%;
    position: absolute;
}

#comment-text {
    height: 30%;
    width: 100%;
    margin: 10px 10px;
}

#message {
    height: 100%;
    width: 100%;
    margin: 10px 10px;
}

#button {
    height: 35px;
    width: 120px;
    margin-top: 10px;
    font-size: 20px;
}

#footer {
    height: 30px;
    max-height: 30px;
    margin-top: 20px;
    padding-top: 5px;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
    bottom: 0;
    position: fixed;
    border: groove;
    border-top-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-bottom-color: #617BA9;
    font-size: 15px;
    text-align: center;
    color: #617BA9;
}